<div class="events-page">

  <div class="overlay"></div>

  <div class="content">

    <div class="header">
      <h1>Events Management</h1>

      <button routerLink="/admin/events/create">
        + Create Event
      </button>
    </div>

    <div class="filters">
      <button (click)="filterByStatus(null)" [class.active]="!selectedApprovalStatus">All Events</button>
      <button (click)="filterPending()" [class.active]="selectedApprovalStatus === 'PENDING'">Pending Approval</button>
      <button (click)="filterByStatus('APPROVED')" [class.active]="selectedApprovalStatus === 'APPROVED'">Approved</button>
      <button (click)="filterByStatus('REJECTED')" [class.active]="selectedApprovalStatus === 'REJECTED'">Rejected</button>
    </div>

    <div class="cards">

      <app-event-card
        *ngFor="let e of events"
        [event]="e"
        (viewEvent)="viewEvent($event)"
        (editEvent)="editEvent($event)"
        (deleteEvent)="deleteEvent(e.idEvenement)"
        (approveEvent)="approveEvent($event)"
        (rejectEvent)="rejectEvent($event)"
        class="event-card"
      >
      </app-event-card>

    </div>

  </div>

</div>
